<h2>I am...</h2>
<p>A software developer passionate about modern technologies and standards. I proudly work at <a href="https://koombea.com">Koombea</a>. I'm a cat-loving engineer and have many hobbies.</p>
<h2>I like...</h2>
<ul>
  <li>Drones (I like to build them)</li>
  <li>DIY Electronics</li>
  <li>Fixing stuff with software</li>
  <li>Gaming</li>
  <li>Engineering</li>
  <li>Sporty Cars</li>
</ul>

<p>Feel free to reach out:</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/jfgomez86">Software Development</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-cube fa-lg main-list-item-icon"></span>
    <a href="https://www.thingiverse.com/jfgomez86">3D Printing</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-reddit fa-lg main-list-item-icon"></span>
    <a href="https://www.reddit.com/user/jfgomez86">Reddit</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-building fa-lg main-list-item-icon"></span>
    <a href="https://koombea.com">My Workplace</a>
  </li>
</ul>
